<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/plantilla.css">
    <title>Plantilla</title>
</head>

<body>
    <h1>BODY</h1>
    <header class="header">
        <h1>HEADER</h1>
        <nav class="head_nav">
            <h2>NAV</h2>
        </nav>
    </header>

    <section class="col01">
        <h1>SECTION</h1>
        <header class="sect_header">
            <h2>HEADER</h2>
        </header>

        <nav class="sect_nav">
            <h2>NAV</h2>
        </nav>

        <footer class="sect_footer">
            <h2>FOOTER</h2>
        </footer>
    </section>

    <section class="col02">
        <h2>SECTION</h2>
        <header class="sect_header">
            <h2>HEADER</h2>
        </header>

        <article class="sect_article">
            <h3>ARTICLE</h3>
            <header class="sect_article_header">
                <h4>HEADER</h4>
            </header>
            <div class="sect_article_p">
                <h4>P</h4>
            </div>

            <div class="sect_article_p">
                <h4>P</h4>
            </div>
            <footer class="sect_article_footer">
                <h4>FOOTER</h4>
            </footer>
        </article>

        <article class="sect_article">
            <h3>ARTICLE</h3>
            <header class="sect_article_header">
                <h4>HEADER</h4>
            </header>

            <div class="sect_article_p_left">
                <h4>P</h4>
            </div>

            <aside class="sect_article_aside">
                <h4>ASIDE</h4>
            </aside>

            <footer class="sect_article_footer_bottom">
                <h4>FOOTER</h4>
            </footer>
        </article>

        <footer class="sect_footer">
            <H3>FOOTER</H3>
        </footer>
    </section>

    <footer class="footer">
        <h2>FOOTER</h2>
    </footer>
</body>

</html>